# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=1a9a258a-d6e2-4e23-a0c1-c733e4701458

    # Set to true to disable all reporting
    B:opt-out=false
}


